<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6ecff011-6f71-418a-872b-9c777c0a220c/resourcegroups/CloudServiceProject/providers/Microsoft.Web/sites/CloudServiceProjectApi</ResourceId>
    <ResourceGroup>CloudServiceProject</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cloudserviceprojectapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cloudserviceprojectapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CloudServiceProjectApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CloudServiceProjectApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CloudServiceProjectEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cloudserviceprojectdbserver.database.windows.net,1433;Initial Catalog=CloudServiceProject;User ID=dbadmin@cloudserviceprojectdbserver;Password=2retARe*w4Nu" Name="Data Source=tcp:cloudserviceprojectdbserver.database.windows.net,1433;Initial Catalog=CloudServiceProject;User Id=dbadmin@cloudserviceprojectdbserver;Password=2retARe*w4Nu" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CloudServiceProjectApi.Models.CloudServiceProjectEntities, CloudServiceProjectApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CloudServiceProjectEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DomainModel.csdl|res://*/Models.DomainModel.ssdl|res://*/Models.DomainModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:cloudserviceprojectdbserver.database.windows.net,1433;Initial Catalog=CloudServiceProject;User Id=dbadmin@cloudserviceprojectdbserver;Password=2retARe*w4Nu"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>